body {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
}
.editor-container {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row;
}

#imager {
  height:100%;
  left: 0;
  top: 0;
  position: absolute; 
}

.header {
    display: flex;
    flex-direction: row; 
}
.canvas-container {
    float: left; 
    display: flex;
    flex-direction: column;
}

#p5Container {
    width: 400px;
    height: 390x;
    min-height: 390px;
    overflow: auto;
    border: 4px solid black;
}

#text-editor {
    width: 500px;
    height: 400px;
    float: left; 
}

#run-button {
    height: 30px;
}

#loading-screen {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  color: black;
}