.editor-container {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: row; 
}
.canvas-container {
    float: left; 
    display: flex;
    flex-direction: column;
}

.p5-canvas-container {
    width: 400px;
    height: 370px;
    min-height: 370px;
    overflow: auto;
    border: 4px solid black;
}

#text-editor {
    width: 500px;
    height: 400px;
    float: left; 
}

#run-button {
    height: 30px;
    display: none;
}

#info-box {
    position: absolute;
    top: 500px;
    float: none;
}